DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=Africa/Douala

# Switch to SMTP to send real emails.
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

# Gmail example:
DJANGO_EMAIL_HOST=smtp.gmail.com
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_USE_TLS=1
DJANGO_EMAIL_USE_SSL=0
DJANGO_EMAIL_HOST_USER=youraddress@gmail.com
DJANGO_EMAIL_HOST_PASSWORD=your-app-password
DJANGO_EMAIL_TIMEOUT=20
DJANGO_DEFAULT_FROM_EMAIL=youraddress@gmail.com

APP_BASE_URL=http://127.0.0.1:8000
